.nutrition-image {
    width: 100%;
    margin: 20px;
  }

.hover
{
    background-color:yellow;
}  

#hover-text {
  font-size: xx-large;
  font-weight: bolder;
}

#description-text {
  color: gray;
  margin-top: 5%;
}