.nutrition-image {
    width: 100%;
    margin: 120px;
    background-color: white;
  }

.hover
{
    background-color:yellow;
}  

#hover-text {
  font-size: x-large;
  font-weight: bolder;
}

#description-text {
  color: #696969;
  font-weight: 100;
  margin-top: 5%;
}

#nutrition-img-div {
  height: fit-content;
  background-color: white;
}

