:root {
    --base: #5cb25d;
    --accent: #826e5e;
    --wrong: #ad5d50;
    --textL: 'Abril Fatface', cursive;
    --textS: 'Roboto Slab', serif;
}

.nutrition-image {
    width: 100%;
    margin: 120px;
    background-color: white;
  }

.hover-text-default {
    font-size: 20px;
    font-weight: bold;
    font-style:italic;
    color: darkgrey;
    padding-top: 20px;
}

.hover-text-title {
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
    color: var(--base);
    margin-bottom: -15px;
}

.text-bold {
    color:black;
    font-weight: 900;
    font-size: 17px;
}

#description-text {
    color: #696969;
    font-weight: 100;
    margin-top: 5%;
}

#nutrition-img-div {
    height: fit-content;
    background-color: white;
    padding: 20px;
    padding-top: 0px;
}

area {
    cursor: pointer;
}
