{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='nutrition_facts.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'nutrition_facts.js') }}"></script>


<div class="section-title">
    Overview
</div>
<div class="row">
    <div class="col-6" id="nutrition-img-div">
        <map name="image-map">
            <!-- <area target="" alt="" title="" href="/tutorial/dailyvalue" coords="0,0,0,0" shape="rect", id="daily-value-rec"> -->
            <area target="" alt="" title=""  coords="12,90,300,130" shape="rect" id="calories-rec" class="{fillColor:'00ff00'}">
            <area target="" alt="" title=""  coords="12,39,300,80" shape="rect" id="serving-info-rec">
            <area target="" alt="" title=""  coords="12,140,200,230" shape="rect" id="nutrients1-rec-fat">
            <area target="" alt="" title=""  coords="12,220,200,270" shape="rect" id="nutrients1-rec-chol-sodium">
            <area target="" alt="" title=""  coords="12,270,200,330" shape="rect" id="nutrients1-rec-carb">
            <area target="" alt="" title=""  coords="12,330,200,350" shape="rect" id="nutrients1-rec-protein">
            <area target="" alt="" title=""  coords="12,360,200,450" shape="rect" id="nutrients1-vit-min">
            <area target="" alt="" title=""  coords="12,450,300,590" shape="rect" id="nutrients2-rec">
            <area target="" alt="" title=""  coords="200,140,310,450" shape="rect", id="daily-value-rec">
            <!-- <area target="" alt="" title="" href="/tutorial/fat" coords="484,708,328,221" shape="rect", id="daily-value-rec"> -->
            
        </map>
        <img height="600" src="https://www.eatrightpro.org/-/media/eatrightproimages/newscenter/nutritiontrends/healthpromotion/20200708-nfl-sidebyside-1.jpg?la=en&amp;hash=2B7328EB0181FFDCE02E0B3289F53F9C8195BAF5" usemap="#image-map" class="map">
    </div>
    <div class="col-6">
        <div id="hover-text">Hover over something to learn about it</div>
        <div id="description-text" >
            
        </div>
    </div>
</div>

{% endblock %}
