{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <script>
        let quiz = {{data|tojson}};
    </script>

<div class="section-title" id="quiz-section-title">
    Quiz
</div>
<div class="quiz-header" id="quiz-header">
    <div>QUESTION</div>
    <div>#
        {% for key, value in data.items() %}
            {% if key == 'quiz_progress' %}
                {{value}}
            {% endif %}
        {% endfor %}
        /7</div>
    <div>PROMPT</div>
    <div>SCORE:
        {% for key, value in data.items() %}
            {% if key == 'quiz_score' %}
                {{value}}
            {% endif %}
        {% endfor %}</div>
</div>
<div class="quiz-container" id="q-container">
</div>
<button class="reset-btn" id="reset-btn" >Reset</button>
<button class="check-btn" id="check-btn" disabled>Check Answer</button>
{% endblock %}
