{% extends "layout.html" %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'snacks.js') }}"></script>
<script>
    let j = {{data|tojson}};
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-9">
                <div> 
                    <span id="choose-text"> Choose </span>
                </div> 
                <div id="header-snack-text">
                    {{data['header']}}
                </div>
                <div>
                    {% for p in data["descriptions"] -%}
                    <li id="snack-description-text">
                        <span> {{p |safe}} </span>
                    </li>
                    {%- endfor %}
                </div>
                <div>
                    Examples:
                    {% for p in data["hover_examples"] -%}
                    <a> {{p |safe}} </a>
                    {%- endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{data['image_link']}}" id="snack-images" class="image-container">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
            <form action= "/snacks{{prev_link}}">
                <button id="reset-btn" >Prev</button>
            </form>
        </div>
        
        <div class="col-md-10">
        </div>
        <div class="col-md-1">
            <form action= "/snacks/{{next_link}}">
                <button id="reset-btn"> Next </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
